<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Bibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Auteur</servlet-name>
    <servlet-class>AuteurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auteur</servlet-name>
    <url-pattern>/AuteurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bibliotheque</servlet-name>
    <servlet-class>servlets.BibliothequeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bibliotheque</servlet-name>
    <url-pattern>/BibliothequeServlet</url-pattern>
  </servlet-mapping>
</web-app>